@CHARSET "EUC-KR";
table{margin:0 auto; }
table{border-collapse:collapse;}
th{height:30px;background:yellow}
td{font-family:돋음; font-size:14; height:26px}
div, .center{text-align:center}	  
.h30{height:30px}
.lime{background:lime} 
 .header{text-align:right;}    