@CHARSET "EUC-KR";

#wrap {}

#container {width:980px;min-height:800px;margin:226px auto 0;position:relative;}

form, body {
    background: #353535;
    color: #FFF;
   	text-align:center;
}

.rcboard {margin:100px;}

.common_title h3{font-weight:normal !important;}

/*테이블*/
table.cStyle {border-top:1px solid #dfe2e8;  width:100%; font-size:12px; border-spacing:0;}
table.cStyle th { color:#222; font-size:13px;  background:#F7CA18; border-bottom:1px #dfe2e8 solid;  border-right:1px #dfe2e8 solid;  text-align:left; line-height:20px; padding:8px 10px; }
table.cStyle td {color:#666; padding:8px 5px; line-height:20px;  border-bottom:1px #dfe2e8 solid;  }
table.cStyle .center {text-align:center;}
table.cStyle .left {text-align:left;}


table.cStyle1 {width:100%; font-size:12px; border-spacing:0; border-left:1px #dfe2e8 solid;}
table.cStyle1 th { color:#222; font-size:13px;  background:#F7CA18; border:0px; border-top:1px #dfe2e8 solid; border-bottom:1px #dfe2e8 solid; border-right:1px #dfe2e8 solid;  text-align:center; line-height:20px; padding:8px 5px; }
table.cStyle1 td {color:#666; padding:8px 5px; line-height:20px;  border-bottom:1px #dfe2e8 solid; text-align:center;  border-right:1px #dfe2e8 solid; }
table.cStyle1 .center {text-align:center;}
table.cStyle1 .left {text-align:left;}

table.cStyle2 {border-top:2px solid #173799;  width:100%; font-size:12px; border-spacing:0; border-left:1px #dfe2e8 solid;}
table.cStyle2 th { color:#222; font-size:13px;  background:#F7CA18; border-bottom:1px #dfe2e8 solid;  border-right:1px #dfe2e8 solid;  line-height:20px; padding:8px 10px; }
table.cStyle2 td {color:#666; padding:8px 5px; line-height:20px;  border-bottom:1px #dfe2e8 solid; border-right:1px #dfe2e8 solid; text-align:center; }
table.cStyle2 .center {text-align:center;}
table.cStyle2 .left {text-align:left;}
table.cStyle2 .bg {background:#fafafa; font-size:15px;  color:#222; font-weight:normal;}
table.cStyle2 .bg span{display:inline-block; line-height:30px; padding:0 20px; background:#173799; border-radius:30px; margin:10px 0px;}
table.cStyle2 .bg img {padding-top:8px;}

table.cStyle3 {border-top:2px solid #F7CA18;  width:100%; font-size:12px; border-spacing:0; margin-bottom:40px;}
table.cStyle3 th { color:#222; font-size:13px;  background:#959595; border-bottom:1px #dfe2e8 solid;   line-height:20px; padding:8px 10px; }
table.cStyle3 td {color:white; padding:8px 5px; line-height:20px;  border-bottom:1px #dfe2e8 solid;  text-align:center; }
table.cStyle3 .center {text-align:center;}
table.cStyle3 .left {text-align:left;}
table.cStyle3 .bg {font-size:15px;  color:#222; font-weight:normal; }
table.cStyle3 .line { border-right:1px #dfe2e8 solid;}
table.cStyle3 .title_name{display:inline-block; line-height:30px; width:150px; background:#173799; border-radius:30px; margin:10px 0px; color:#fff;}
table.cStyle3 .bg img {padding-top:8px;}
table.cStyle3 .service_img_ing {border:2px #ddd solid;}


table.cStyle4 {border-top:1px solid #F7CA18;  width:100%; font-size:12px; border-spacing:0; }
table.cStyle4 th { color:#222; font-size:13px;  background:#959595; border-bottom:1px #dfe2e8 solid;   line-height:20px; padding:8px 10px; }
table.cStyle4 td {color:#666; padding:8px 5px; line-height:20px;  border-bottom:1px #dfe2e8 solid;  }
table.cStyle4 .center {text-align:center;}
table.cStyle4 .left {text-align:left;}
table.cStyle4 .bg {background:#fafafa; font-size:15px;  color:#222; font-weight:normal; }


table.cStyle5 {border-top:1px solid #F7CA18;  width:100%; font-size:12px; border-spacing:0;}
table.cStyle5 th { color:#222;  background:#959595; border-bottom:1px #dfe2e8 solid;   padding:8px 5px; }
table.cStyle5 td {color:#666; padding:5px;  border-bottom:1px #dfe2e8 solid; text-align:center;  }
table.cStyle5 .center {text-align:center;}
table.cStyle5 .left {text-align:left;}


table.cStyle6 {border-top:1px solid #F7CA18; border-left:1px solid #dfe2e8;  width:100%; font-size:12px; border-spacing:0;}
table.cStyle6 th { color:#222;  background:#959595; border-bottom:1px #dfe2e8 solid;  border-right:1px #dfe2e8 solid;   padding:8px 5px; }
table.cStyle6 td {color: white; padding:3px;  border-bottom:1px #dfe2e8 solid; border-right:1px #dfe2e8 solid;}
table.cStyle6 .center {text-align:center;}
table.cStyle6 .left {text-align:left;}


table.cStyle7 {border:0px; border:1px solid #dfe2e8;  width:100%; font-size:12px; border-spacing:0;}
table.cStyle7 th {color:#222; background:none; border:0px;   }
table.cStyle7 td {color:#666;  border:0px; }
table.cStyle7 .center {text-align:center;}
table.cStyle7 .left {text-align:left;}


/*테이블*/


h4.cStyle {clear:both; font-size:18px; letter-spacing:-1px; color:#F7CA18; line-height:24px; padding-left:5px;}
h5.cStyle {clear:both; font-size:16px; letter-spacing:-1px; color:#014e8d; line-height:24px; }
h6.cStyle {clear:both; font-size:15px; letter-spacing:-1px; color:#555 ; line-height:24px; }

