<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java/src/ex17_14_Thread_state_2/MultithreadExample.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ex17_14_Thread_state_2.MultithreadExample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java"/>
</launchConfiguration>
