@CHARSET "EUC-KR";
 h2,h3{text-align:center}      
 table{width:400px;margin:0 auto;}
 tr{height:50px;text-align:center}
 td:nth-child(2n){background:yellow; width:50%}
 td:nth-child(2n+1){background:orange; width:50%}
 tr:first-child > td {background:#a9f1a9}
 tr:last-child > td {background:skyblue}
